
body, html {
    height: 100%;
    margin:0;
    font-family: 'Ubuntu', sans-serif;
    line-height: 180%;
    color: #666;
    text-align: center;
}
.parallax1 {
    background-image: url(../img/New\ day.png);
    min-height: 100%;
}
.img_select{
    top:500px !important;
    left:100px;
}
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    top:500px;
    left:300px;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #087de3;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #ffffff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: rgb(3, 14, 56);
   }
.parallax4 {
    background-image: url(../img/New\ sun.jpg);
    min-height: 100%;
}

.parallax1, .parallax2, .parallax3, .parallax4 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Important*/
}

.head {
    position: absolute;
    color: #fff;
    font-size: 500%;
    top:20%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 20px;
    animation: drop 3.0s ease; /* Make things beautiful */
    cursor: pointer;
}

.head:hover{
    color:transparent;
}


section {
    overflow: auto;
    padding: 50px 80px;

}

footer{
    width: 100%;
    background-color: #323232;
    color: #f2f2f2;
    height: 3vh;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

@media (max-width:800px) {
    .head{
        font-size: 200%;
    }
   
}


@keyframes drop {
    0% {
      opacity: 0;
      transform: translateY(-80px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .social-icons {
    font-size: 30px;
  }
  .social-icons a {
    color: #ffffff;
    margin-right: 15px;
    transition: color 0.3s;
  }
  .social-icons a:hover {
    color: red;
  }
  .down-btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .down-btn span {
    margin-right: 10px;
  }

  .down-btn svg {
    vertical-align: middle;
  }
</styl


  @import url('https://fonts.googleapis.com/css?family=Ubuntu'); /*IMPORTANT*/



